@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
	background: #dcf5ff;
	margin: 0;
	height: 100vh;
	display: grid;
	justify-items: center;
	align-items: center;
	font-family: 'Nunito', 'sans-serif';
}

.container {
	width: 30%;
	background: white;
	border-radius: 10px;

	.inner {
		background: rgb(7, 218, 165);
		padding: 1em;
		border-radius: 10px;
		width: calc(100% - 2em);
		clip-path: inset(0% 0% 0% 100%);
		transition: all 0.5s ease-in-out;
		cursor: pointer;

		h1 {
			color: white;
			margin: 0;
		}

		p {
			color: white;
			font-size: 0.8rem;
		}

		&:hover span {
			color: transparent;
		}
	}

	&:hover .inner {
		clip-path: inset(0% 0% 0% 0%);
	}
}
